{% extends "base.html" %}

{% block header %}
<div class="header">
  <h1>Add new post</h1>
</div>
{% endblock %}

{% block content %}

{% if error %}
  <div class="active alert alert-danger">{{error}}</div>
{% endif %}

<div class="container height-adjust">
  <div class="row">
    <form id="add-blog-form" role="form" method='post' action="/blog/add">
      <div class="row">
        <label class="col-md-2">Title*</label>
        <input required id="title" name="title" type="text" class="col-md-10"  placeholder="Insert a title here">
      </div>
      <div class="row">
        <label class="col-md-12">Content*</label><br>
        <div class="row">
          <textarea required id="content" name="content" rows="15" class="col-md-12" placeholder="Insert a content here">
          </textarea>
        </div>
      </div>
      <div>
        <label class="col-md-12"></label>  
        <div class="row">
          <br>
          <div class="col-md-6">
            <button type="submit" class="btn btn-md btn-success">
              <i class="fa fa-check"></i>&nbsp;Add Blog
            </button>
          </div>
          <div class="col-md-6">
            <a href='/' class="btn btn-md btn-danger">
              <i class="fa fa-times"></i>&nbsp;Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  var CKEDITOR_BASEPATH = '/static/ckeditor/';
</script>
{% endblock %}

{% block site_js %}
{% include "javascript.html" %}
<script>
  CKEDITOR.replace('content');
</script>
{% endblock %}