{% extends "base.html" %}


{% block header %}
<div class="headers text-center">
    Recent Blogs
</div>
<br>
{% endblock %}

{% block content %}
    <div class="height-adjust">
    </div>
    {% for post in posts %}
        <div class="post-headers">
            <a class="post-title" href="/blog/{{post.slug}}">{{post.title}}</a>
            <div class="post-date">{{post.created_at.strftime('%b %d, %Y')}}</div>
        </div>
        <br>
        <div class="row">
            <div class="pre">{{ post.content | truncate | safe }}</div>
        </div>
        <br>
        <div class="post-headers">
        <hr>
        </div>
    {% endfor %}

{% endblock %}