{% extends "base.html" %}


{% block header %}
<div class="height-adjust">
</div>
<div class="">
    <a class="post-title" href="/blog/{{post.slug}}">{{post.title}}</a>
    <br>
    <div class="post-date">{{post.created_at.strftime('%b %d, %Y')}}</div>
</div>
{% endblock %}

{% block content %}
<br>
<br>
<div class="pre">
	{{ post.content | safe}}
</div>
<div class="row">
  <div class="col-md-8">
    <ul class="list-inline">
      <li><a href="/blog/like/{{post.key().id()}}" class="btn fa fa-heart-o"><span >&nbsp;{{post.likes.count()}}</span></a></li>
      <li><a href="#comments"><span class="fa fa-comment-o"></span> {{post.comments.count()}} comments</a></li>
      {% if is_author %}
        <li><a href="/blog/edit/{{post.key().id()}}"><span class="fa fa-edit"></span>&nbsp;Edit</a></li>
        <li><a href="/blog/delete/{{ post.key().id()}}"><span class="fa fa-trash-o"></span>&nbsp;Delete</a></li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row">
<br>
<div class="response" id="comments">Responses</div>
{% for comment in post.comments %}
<div class="col-sm-8">
    <div class="comment-user">
      {{ comment.user.username }} says...
    </div>
    <div class="response pull-right">
      <a href="/edit/comment/{{comment.key().id()}}" class="btn btn-xs btn-success">Edit</a> |
      <form method="post" action="/delete/comment/{{comment.key().id()}}" style="display: inline;">
        <button type="submit" class="btn btn-xs btn-danger">
          <i class="glyphicon glyphicon-trash"></i>&nbsp;Delete
        </button>
      </form>
    </div>
    <pre class="comment-text">
      {{ comment.comment }}
    </pre>
    <hr/>
  </div>
{% endfor %}
</div>
<div class="row">
<div class="col-sm-5">
  <form method="post" action="/blog/{{post.key().id()}}/add/comment">
    <h4>Write a response</h4>
    <textarea name="comment" rows="5" cols="50" class="form-control"></textarea>
    <br>
    <button type="submit" class="btn btn-sm btn-primary">Publish</button>
  </form>
</div>
</div>
{% endblock %}

{% block bottom_nav %}
<div class="top-clear">
</div>
{% endblock %}